<%- include('../components/header.ejs') %>

<div class="hero-wrap js-fullheight" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">
                <h2 class="subheading">Welcome to myProblems.com</h2>
                <h1 class="mb-4">Your Civic Solution Partners</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-services">
    <div class="container">
        <div class="row">
            <div class="col-md-2 mb-3 d-flex services optionSection align-self-stretch px-4 ftco-animate"></div>
            <div class="col-md-8 mb-3 d-flex services optionSection align-self-stretch px-4 ftco-animate">
                <div class="d-block services-wrap text-center" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    <div class="media-body py-4 px-3">
                        <h3 class="heading">Edit Authority</h3>
                        <p>Simply fill out our user-friendly form with details to edit Authority.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input type="hidden" id="authorityId" value="<%= authority._id %>">
                                    <label for="firstName">First Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="firstName" value="<%= authority.firstName %>" placeholder="Enter First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="lastName">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="lastName" value="<%= authority.lastName %>" placeholder="Enter Last Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="email">Email <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="email" value="<%= authority.email %>" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="phone">Phone <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="phone" value="<%= authority.phone %>" placeholder="Enter Phone">
                                </div>
                            </div>
                        </div>
                        <p><button type="button" id="submitButton" class="btn btn-primary">Update Now</button></p>
                        <p><button type="button" id="loadingButton" class="btn btn-primary">Loading please wait...</button></p>
                        <p id="responseMessage"></p>
                    </div>
                </div>      
            </div>
            <div class="col-md-2 mb-3 d-flex services optionSection align-self-stretch px-4 ftco-animate"></div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $('#loadingButton').hide()
    });

    $('#submitButton').click(function(){
        $('#submitButton').hide()
        $('#loadingButton').show()

        const authorityId = $('#authorityId').val().trim()
        const firstName = $('#firstName').val().trim()
        const lastName = $('#lastName').val().trim()
        const email = $('#email').val().trim()
        const phone = $('#phone').val().trim()
        const password = $('#email').val().trim()

        const formData = new FormData();
        formData.append('firstName', firstName);
        formData.append('lastName', lastName);
        formData.append('email', email);
        formData.append('phone', phone);
        formData.append('password', password);

        $.ajax({
            url: `/admin/update-authority/${authorityId}`,
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function(response){
                $('#responseMessage').html(response?.message);
                Swal.fire({
                    title: "Success",
                    text: response?.message,
                    icon: "success"
                });
                $('#submitButton').show()
                $('#loadingButton').hide()
            },
            error: function(xhr, status, error){
                $('#responseMessage').html(xhr?.responseJSON?.message);
                Swal.fire({
                    title: "Error",
                    text: xhr?.responseJSON?.message,
                    icon: "error"
                });
                $('#submitButton').show()
                $('#loadingButton').hide()
            }
        });
    })
</script>

<%- include('../components/footer.ejs') %>